.audio-content{
    .audio-list-content{
        .title{
            font-family: $font-family-bold;
            font-size: $font-size-extra-large;
            color: $color-title-bg;
            padding-bottom: 13.5px;
            h3{
                border-bottom: 2px solid $color-header-bg;
                padding-bottom: 10px;
            }
        }
        .content{
            .sub-audio-content{
                border-bottom: 2px dashed $color-header-bg;
                padding: 10px 0;
                .sub-title{
                    display: flex;
                    align-items: center;
                    a{
                        font-size: $font_size_small;
                        font-family: $font_family_semibold;
                        color: $color-default;
                    }
                }
                .sub-audio{
                    audio{
                        width: 100%;
                        height: 40px;
                    }
                }
            }
        }
    }
}

._pagination{
    padding-top: 50px;
    nav{
        ul{
            display: flex;
            justify-content: right;
        }
    }
    nav{
        height: 100%;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                border-radius: 4px;
                width: auto;
                overflow: hidden;
                height: 24px;
                background-color: $color-bg-paginate;
                margin-right: 10px;
                align-items: center;
                a{
                    text-align: center;
                    line-height: 14px;
                    padding: 10px;
                    font-size: $font-size-small;
                    color: $color-default;
                    font-family: $font_family_regular;
                }
            }
            .active{
                background-color: $color-link;
                a{
                    color: $color-bg-default;
                }
            }
            .normal{
                background: none;
            }
        }
    }
}