header {
    background-color: $color-header-bg;
    .header {
        height: 100%;
        ._header {
            padding: 6px 15px;
        }
        .header-left {
            margin: auto 0;
            .name {
                margin: auto 0;
            }
            a {
                margin: auto 0;
                img {
                    width: 70px;
                    height: auto;
                    float: left;
                }
            }
            a {
                margin: auto 0;
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                color: $color-primary;
                line-height: 23px;
            }
        }
        .header-middle {
            justify-content: flex-end;
            margin-bottom: 10px;
            a {
                padding: 7px;
                background-color: $color-link;
                font-size: 14px;
                color: $color-bg-default;
                font-family: $font_family_semibold;
                border-radius: 7px;
                display: table;
                margin-top: auto;
                height: 30px;
                margin-left: 10px;
                img{
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .header-right {
            margin: auto 0;
            margin-bottom: 10px;
            .time {
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    span {
                        color: $color-title-bg;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
            .form {
                max-width: 100%;
                height: 30px;
                form {
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
                    input {
                        background-color: #fff;
                        line-height: 30px;
                        width: 100%;
                        border: none;
                        float: left;
                        border-radius: 30px;
                        padding-left: 5%;
                    }
                    button {
                        position: absolute;
                        font-size: 14px;
                        background-color: #fff;
                        background: none;
                        border: none;
                        right: 12px;
                        line-height: 30px;
                    }
                    input:focus{
                        border: solid #fff;
                    }
                }
            }
        }
    }
    .menu {
        width: 100%;
        height: auto;
        background-color: $color-title-bg;
        ._menu {
            height: 100%;
            .nav {
                padding: 0 0.5rem;
            }
            ul {
                .active {
                    background-color: $color-title-bg-hover;
                }
                li {
                    padding: 5px 15px;
                    list-style: none;
                    height: 100%;
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 26px;
                        width: 100%;
                        height: 100%;
                    }
                    .home {
                        font-size: 18px;
                    }
                }
                li:hover {
                    background-color: $color-title-bg-hover;
                    transition: 0.5s;
                }
            }
        }
        #toggle{
            font-size: 20px;
            color: $color-bg-default;
            text-align: right;
            cursor: pointer;
            padding: 10px;
            display: none;
        }
    }
}

/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-title-bg;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $color-title-bg;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: $color-title-bg-hover;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: $color-title-bg-hover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .header .header-left a img {
        width: 80px;
        height: auto;
        margin-left: 15px;
        float: left;
    }
    header .header .header-right .form {
        max-width: 80%;
        height: 30px;
    }
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    header .menu #toggle {
        font-size: 20px;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        display: block;
    }
    header .menu ._menu #nav {
        display: none;
    }
    header .menu ._menu .nav {
        flex-direction: column;
    }

    header .header .header-middle {
        flex-direction: column;
        justify-content: right;
    }
    header .header .header-middle a{
        font-size: 13px;
        width: 75%;
    }
    header .header .header-left a {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #222222;
    }
    header .header .header-left a {
        line-height: normal;
        font-size: 13px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    header .header .header-middle a {
        padding: 7px;
        background-color: #0D77BA;
        font-size: 11px;
        color: #FFFFFF;
        font-family: Muli-SemiBold;
        border-radius: 7px;
        display: table;
        max-width: 100%;
    }
    header .header .header-middle {
        flex-direction: column;
        justify-content: right;
    }
    header .header .header-middle a{
        width: 75%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    header .header .header-middle a {
        padding: 7px;
        background-color: #0D77BA;
        font-size: 13px;
        color: #FFFFFF;
        font-family: Muli-SemiBold;
        border-radius: 7px;
        display: table;
    }
}

