.main-content{ 
    .news{
        background-color: #F7F7F7;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .newest{
            height: 100%;
            .title{
                padding-top: 10px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: $color-default;
                    padding: 10px 0;
                }
            }
            .img{
                a{
                    img{
                        width: 100%;
                        height: auto;
                        display: none;
                    }
                }
            }
        }
        .news-list{
            padding-left: 30px;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            .first-new{
                padding-bottom: 10px;
                a{
                    color: #0d77ba;
                    span{
                        color: $color-default;
                    }
                }

            }
            .list-title{
                .text{
                    padding-bottom: 10px;
                    a{
                        color: $color-default;
                    }
                }
            }
        }
    }

    .common-title{
        max-width: 870px;
        margin: 20px 0;
        border-radius: 10px;
        border: solid 2px #b70002;
        .title{
            padding: 10px 0 10px 10px;
            h3{
                font-size: 18px;
                font-weight: 600;
                color: $color-default;
                border-bottom: solid 2px $color-default;
                display: inline-block;
            }
        }
    }
    .videos{
        .content{
            padding: 0 20px 10px 20px;
            .sub-video{
                overflow: hidden;
            a{
                img{
                    width: 166px;
                    height: 94px;
                    display: block;
                }
                text-align: left;
                font-size: 14px;
                text-decoration: none;
                color: $color-default;
                font-family: $font_family_semibold;
                text-align: justify;
            }
        }
        }
    }
    .category{
        .content{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .div-highlight{
                padding-right: 10px;
                border-right: 2px solid rgb(147, 147, 221);
                .img-content{
                    float: left;
                    a{
                        img{
                            width: 180px;
                            height: auto;
                            padding: 0 10px 0 0 ;
                        }
                    }
                }
                .title-content{
                    a{
                        color: $color-default;
                        font-size: 14px;
                        font-family: $font_family_semibold;
                        text-align: justify;
                    }
                }
                .description{
                    font-size: 14px;
                    font-family: $font_family_italic;
                    color: $color-default;
                    text-align: justify;
                }
            }
            .sub-highlight{
                .sub-new{
                    display: inline-block;
                    padding-left: 20px;
                    padding-bottom: 10px;
                    .img{
                        float: left;
                        a{
                            img{
                                width: 110px;
                                height: auto;
                                padding-right: 10px;
                            }
                        }
                    }
                    .title-sub{
                        font-size: 16px;
                        padding-left: 10px;
                        a{
                            color: $color-default;
                            font-size: 16px;
                            font-family: $font_family_semibold;
                        }
                    }
                }
            }
        }
    }
    .banner{
        display: block;
        a{
            img{
                width: 100%;
                height: 125px;
            }
        }
    }
    #document{
        .content{
            margin: 0 10px;
            table{
                font-size: 14px;
                font-family: $font_family_regular;
            }
        }
    }
}