.main-content{ 
    .news{
        background-color: #F7F7F7;
        margin-bottom: 10px;
        .newest{
            padding: 10px 25px;
            .title-slide{
                padding-top: 10px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: $color-default;
                    padding: 10px 0;
                }
            }
            .img{
               a{
                   img{
                        width: 100%;
                        height: auto;
                   }
               }
            }
        }
        .news-list{
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 15px;
            .first-new{
                padding-bottom: 10px;
                a{
                    color: #0d77ba;
                    span{
                        color: $color-default;
                    }
                }

            }
            .list-title{
                .text{
                    padding-bottom: 10px;
                    a{
                        color: $color-default;
                    }
                }
            }
        }
    }

    .common-title{
        max-width: 100%;
        margin: 10px 0;
        border-radius: 10px;
        border: solid 2px #b70002;
        overflow-x: hidden;
        padding: 10px;
        .title{
            border-bottom: 2px solid $color-header-bg;
            margin-bottom: 20px;
            h3{
                transform: translate(0 , 1px);
                font-size: 18px;
                font-weight: 600;
                color: $color-default;
                border-bottom: solid 2px $color-default;
                display: inline-block;
                padding: 0;
                margin: 0;
            }
        }
    }
    .videos{
        .content{
            .sub-video{
                overflow: hidden;
            a{
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }
                text-align: left;
                font-size: 14px;
                text-decoration: none;
                color: $color-default;
                font-family: $font_family_semibold;
                text-align: justify;
            }
        }
        }
    }
    .category{
        .content{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .div-highlight{
                padding-right: 20px;
                padding-left: 0;
                border-right: 2px solid $color-header-bg;
                .img-content{
                    float: left;
                    a{
                        img{
                            width: 170px;
                            height: 102px;
                            padding: 0 10px 0 0 ;
                        }
                    }
                }
                .title-content{
                    a{
                        color: $color-default;
                        font-size: 14px;
                        font-family: $font_family_semibold;
                        text-align: justify;
                    }
                }
                .description{
                    font-size: 14px;
                    font-family: $font_family_italic;
                    color: $color-default;
                    text-align: justify;
                }
            }
            .sub-highlight{
                .sub-new{
                    height: 50%;
                    display: inline-block;
                    flex-direction: column;
                    .img{
                        float: left;
                        a{
                            img{
                                width: 110px;
                                height: 60px;
                                padding-right: 10px;
                            }
                        }
                    }
                    .title-sub{
                        padding-left: 10px;
                        a{
                            color: $color-default;
                            font-size: 14px;
                            font-family: $font_family_semibold;
                        }
                    }
                }
            }
        }
    }
    .banner{
        margin: 10px 0;
        a{
            img{
                width: 100%;
                height: 125px;
            }
        }
    }
    #document{
        .content{
            table{
                font-size: 14px;
                font-family: $font_family_regular;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main-content .news .news-list {
        text-align: left;
        font-size: 13px;
        line-height: 20px;
         padding: 10px 35px;
    }
    .main-content .news .newest .title a {
        font-size: 16px;
        font-weight: 600;
        color: #232323;
        padding: 10px 0;
    }
}

@media screen and (max-width: 992px) {
    .main-content .category .content .div-highlight .img-content a img {
        width: 100%;
        height: auto;
        padding: 0 10px 0 0;
    }
    .main-content .category .content .sub-highlight .sub-new {
        height: 45%;
        display: inline-block;
        flex-direction: column;
    }
    .main-content .category .content .sub-highlight .sub-new .img a img {
        width: 80%;
        height: auto;
        padding-right: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
