.right-sidebar{
    .common-title{
        // margin-bottom: 30px;
        border-radius: 10px;
        border: solid 2px $color-title-bg;
        .title{
            width: 100%;
            font-family: $font_family_semibold;
            background-color: $color-title-bg;
            border-radius: 7px;
            h3{
                font-size: 18px;
                color: #fff;
                font-family: $font_family_semibold;
                background-color: $color-title-bg;
                padding: 10px;
            }
        }
        .content{
            // margin: auto;
            .type-content{
                width: 250px;
            }
            .sub-content{
                // margin-bottom: 10px;
                a{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    // Khối blog video
    .block-video{
        .content{
            video{
                width: 250px;
                height: 150px;
            }
        }
    }

    .block-audio{
        .content{
            p{
                font-size: 14px;
                text-align: left;
            }
        }
    }

    .block-link{
        a{
            img{
                border-radius: 3px;
                padding: 5px;
                border: solid 1px $color-title-bg;
            }
        }
    }
}