@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./ui/font";
@import "./ui/color";
@import "./ui/button";
@import "./mixins/text.scss";
@import "./includes/product-item.scss";
@import "./includes/product-list.scss";
@import "./includes/breadcrumb.scss";
@import "./includes/sidebar-filter.scss";
@import "./includes/type-hint.scss";
@import "./page/style";
@import "./page/customer-media";
@import "./page/footer";
@import "./page/header";
@import "./page/home";
@import "./page/flash-sale";
@import "./page/news";
@import "./page/product";
@import "./page/search";
@import "./page/page";
@import "./page/error-404";
body {
    color: $default_text_color;
    background-color: $bg_color;
    font-size: $font_size_normal;
    font-family: SegoeUI;
    header {
        .bg-dark {
            background-color: $main_header_bg_color !important;
        }

    }
    .pagination {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .page-item.active,  .page-item:hover{
            .page-link, .page-link.no-border{
                background-color: $default_bg_color;
                color: $default_link_color;
                border: 1px solid $default_link_color;
            }

        }

        .page-item {
            .page-link {
                background-color: transparent;
                color: $default_input_color;
                border: 1px solid $default_input_color;
                font-size: $font_size_smaller;
                border-radius: 2px;  
                padding: 4px 9px;
                margin: 5px;

                &.no-border {
                    border-color: transparent;
                    font-size: 10px;
                }
            }
        }
    }
}
