$color-important: #000;
$color-primary: #222222;
$color-default: #232323;
$color-secondary: #757575;
$color-bg-default: #FFFFFF;
$color-footer-bg: #F6F6F6;
$color-header-bg: #F8E6E6;
$color-title-bg: #B70002;
$color-title-bg-hover: #6E0808;
$color-border-input: #DDDDDD;
$color-mp3-bg: #F2F2F2;
$color-link: #0D77BA;
$color-bg-doc-tbl-header: #3D92C8;
$color-bg-doc-tbl-default: #F6F6F6;
$color-bg-doc-tbl-secondary: #E7F1F8;
$color-bg-paginate: #E5E5E5;
$color-bg-hd: #F7F7F7;
