$color-important: #000;
$color-primary: #222222;
$color-default: #232323;
$color-secondary: #757575;
$color-bg-default: #ffffff;
$color-footer-bg: #f6f6f6;
$color-header-bg: #f8e6e6;
$color-title-bg: #b70002;
$color-title-bg-hover: #6e0808;
$color-border-input: #dddddd;
$color-mp3-bg: #f2f2f2;
$color-link: #0d77ba;
$color-bg-doc-tbl-header: #3d92c8;
$color-bg-doc-tbl-default: #f6f6f6;
$color-bg-doc-tbl-secondary: #e7f1f8;
$color-bg-paginate: #e5e5e5;

