@font-face{
font-family: Muli-Regular;
src: url("../../fonts/Muli-Regular.ttf");
}
@font-face {
font-family: Muli-Italic;
src: url("../../fonts/Muli-Italic.ttf");
}

@font-face {
font-family: Muli-Bold;
src: url("../../fonts/Muli-Bold.ttf");
}

@font-face {
font-family: Muli-SemiBold;
src: url("../../fonts/Muli-SemiBold.ttf");
}

// font-family
$font_family_regular: Muli-Regular;
$font_family_italic: Muli-Italic;
$font_family_bold: Muli-Bold;
$font_family_semibold: Muli-SemiBold;

// font-size
$font_size_smaller: 12px;
$font_size_small: 14px;
$font_size_normal: 16px;
$font_size_large: 18px;
$font_size_larger: 20px;
$font_size_extra_large: 32px;