.about {
    .main {
        .about-head {
            color: #fb728b;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            margin-bottom: 10px;
            @media only screen and(max-width:760px) {
                margin-top: 30px;
             }
        }

        .line {
            border-bottom: 2px solid #eee8e8;
            margin-top: 10px;
        }

        .about-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.36;
            color: #242424;
            margin-top: 24px;
            text-align: center;
        }
        .about-description{
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.36;
            color: #707070;
        }
    }
}