.account-table {
    background-color: #fbfbfb;
    padding: 30px 40px 56px 40px;

    @media only screen and(max-width:500px) {
        padding: 21px 0px;
    }

    .label {
        color: #707070;
        margin: 10px 0;
    }

    .form_acc {
        border-radius: 6px;
        border: solid 0.5px #d8d8d8;
        background-color: #ffffff;
        margin-bottom: 10px;
        height: 30px;
    }

    .form_name {
        width: 47%;

        input {
            width: 100%;
            outline: none;
            padding: 5px 14px;
        }

    }
    input[type="radio"]{
        background: #683e7a;
    }

    .account-type {
        font-size: 14px;
        line-height: 1.36;
        color: #707070;
        margin: 0 25px;
        min-width: 90px;
    }

    .account-info {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.36;
        text-align: left;
        color: #242424;
        margin: 0 25px;
    }

    .line {
        border-bottom: 1px solid #d8d8d8;
        margin: 10px 0 20px 0;
        width: 100%;
    }

    .btn-next-comeback {
        .btn-next {
            background-color: #ffffff;
            color: #707070;
            border: solid 1px #707070;
            padding: 9px 10px;
            border-radius: 6px;
            text-decoration: none;
            font-weight: bold;
        }

        .btn-order {
            text-decoration: none;
            background: #683e7a;
            color: white;
            border: solid 1px #fff;
            padding: 9px 10px;
            border-radius: 6px;
            font-weight: bold;
        }

        @media only screen and(max-width:991px) {
            padding-bottom: 50px;
        }

    }

}
