.bg-l {
    background-color: #fbfbfb;

}
.cart {
    
    h3 {
        color: #fb728b;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 2px solid #eee8e8;
        padding-bottom: 5px;
        margin: 0;
        text-transform: uppercase;
    }
    .continue {
        color: #683e7a;
        border: 1px solid #683e7a;
        padding: 12px 15px;
        border-radius: 6px;
        margin-right: 20px;
    }
    .pay {
        background-color: #683e7a ;
        padding: 12px 40px;
        border-radius: 6px;
        color: #ffff;
    }
}
.mt-50 {
    margin-top: 50px;
}
@media (max-width: 575.98px) { 
    .cart .pay {
        background-color: #683e7a;
        padding: 12px 25px;
        border-radius: 6px;
        color: #ffff;
    }
 }