.main {
    margin-top: 5%;
  .nav-bg {
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
  }
  .nav-bg-mini {
    background: #f6f6f6;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1024px) {
    .nav-left-min {
      display: block;
    }
    .nav-left-max {
      display: none;
    }
  }
  @media screen and (min-width: 1025px) {
    .nav-left-max {
      display: block;
    }
    .nav-left-min {
      display: none;
    }
  }
  .nav-left {
    .nav-left-max {
      .title-navlf {
        border-bottom: 2px solid #eee8e8;
        margin-bottom: 15px;
        img {
          width: 20px;
        }
        p {
          margin: 0 0 10px 10px;
          font-size: 16px;
          font-weight: 600;
          color: #fb728b;
        }
        .title-navlf {
          border-bottom: 2px solid #eee8e8;
          margin-bottom: 15px;
          img {
            width: 20px;
          }
        }
      }
    }
    .nav-left-min {
      .title-navlf {
        img {
          width: 20px;
        }
        p {
          margin: 0 0 0 10px;
          font-size: 16px;
          font-weight: 600;
          color: #fb728b;
        }
      }
    }
    .content-navlf {
      .content-navlf-mg {
        margin: auto;
        padding-left: 12px;
        a {
          text-decoration: none;
          color: #242424;
        }
        a.active {
          color: #fb728b;
          font-weight: 600;
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    .nav-news {
      display: none;
    }
  }
  .nav-right {
    .nav-bg {
      margin-bottom: 24px;

      .title-navrg {
        border-bottom: 2px solid #eee8e8;
        margin-bottom: 15px;
        img {
          width: 20px;
        }
        p {
          margin: 0 0 10px 10px;
          font-size: 16px;
          font-weight: 600;
          color: #fb728b;
        }
      }
      .content-navrg {
        text-align: center;
        h5 {
          font-size: 18px;
          font-weight: 600;
          color: #094aff;
        }
      }
      .content-navrg-2 {
        a {
          text-decoration: none;
          color: #707070;
          font-weight: 600;
          font-size: 12px;
          img {
            width: 73px;
            height: 50px;
            margin-right: 10px;
          }
          .description {
            margin: 12px 0;
          }
        }
      }
    }
  }
}
