.contact {
    .main {
        .contact-head {
            color: #fb728b;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            margin-bottom: 10px;

            @media only screen and(max-width:760px) {
                margin-top: 30px;
            }
        }

        .line {
            border-bottom: 2px solid #eee8e8;
            margin-top: 10px;
        }

        .contact-body {
            margin-top: 24px;

            .form-control {
                border: solid 1px #d8d8d8;
                background-color: #ffffff;
                border-radius: 6px;
            }

            label {
                font-size: 14px;
                color: #333333;
                line-height: 1.36;
            }

            iframe {
                margin-top: 29px;
                height: 254px;
                margin-bottom: 20px;
            }

            .capcha-img {
                width: 140px;
            }

            .btn-login {
                margin-top: 50px;
                text-align: end;

                .btn-cancel {
                    color: #707070;
                    line-height: 1.36;
                    font-size: 14px;
                    border-radius: 6px;
                    border: solid 1px #707070;
                    padding-left: 32px;
                    padding-right: 32px;
                }

                .btn-submit {
                    border-radius: 6px;
                    background-color: #683e7a;
                    color: #ffffff;
                    line-height: 1.36;
                    font-size: 14px;
                    padding-left: 34px;
                    padding-right: 34px;
                }
            }
        }

        .contact-info {
            margin-top: 40px;

            h5 {
                font-size: 16px;
                font-weight: 600;
                color: #333333;
                line-height: 1.31;
            }

            p {
                color: #707070;
                line-height: 1.36;
                font-size: 14px;
            }
        }


    }
}