.footer {
    margin-top: 5%;
    min-height: 100px;
    background: #f6f6f6;
    padding: 2% 0 1% 0;

    p {
        color: #707070;
    }

    .logo {
        margin-bottom: 15px;
        width: 255px;
        height: 60px;
        object-fit: cover;
    }

    .contact {
        height: 70%;

        i {
            color: pink;
        }
        img{
            margin-right:20px;
        }
    }

    .title {
        text-align: start;
        color: #707070;
    }

    .note {
        margin-top: 1%;
        color:#707070;
    }

}
