.home {
    .pagination {
        .page-item.active{
            .page-link{
                background-color: #fff;
                color: #fb728b;
                border: 1px solid #d8d8d8;
            }
        }
         .page-item{
            .page-link{
                background-color: #fff;
                color: #707070;
                border: 1px solid #d8d8d8;
                font-weight: bold;
            }
        }
        img {
            width: 12px;
            color: #6c757d;
            margin-top: -2px;
        }

        .soft {
            height: 10px;
        }

        a {
            color: #6c757d;
        }

    }

    .product {
        a {
            text-decoration: none;
            color: #242424;
        }

        .hr {
            width: 100%;
            background: #eee8e8;
            height: 2px;
            margin-bottom: 7px;
        }

        .title {
            margin-bottom: -6px;
            margin-top: 30px;
        }

        .text-right {
            a {
                text-decoration: none;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                color: #707070;
            }

        }

        h5 {
            font-size: 16px;
            font-weight: 600;
            color: #fb728b;
        }
        a:hover{
            .product-item{
                .product-title{
                    color: #e74c3c;
                }
            }

        }
        .product-item {
            .product-img {
                margin-top: 10px;

                img {
                    border-radius: 6px;
                    width: 100%;
                }

            }

            .product-title {
                font-weight: bold;
                margin: 5px 0 2px 0;
                color: #242424;
                font-size: 12px;
                height: 40px;
            }

            .product_author {
                font-size: 12px;
                color: #707070;
                height: 20px;
            }

            .product-price {
                .price {
                    color: #ff670a;
                    font-weight: bold;
                }

                .original_price {
                    color: #707070;
                    text-decoration: line-through;
                }

            }

        }

        .news {
            .description {
                margin: 12px 0;

                img {
                    border-radius: 6px;
                    width: 162px;
                    height: 110px;
                    margin-right: 24px;
                }

                h6 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #242424;
                }

                p {
                    font-size: 12px;
                    color: #242424;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    font-style: italic;
                    color: #683e7a;
                }

            }

        }

    }

}
