@mixin container-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

@mixin section-wrap() {
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 0px 20px 20px;
    background-color: $default_bg_color;
}

.banner-container {
    @include container-margin();
    img {
        width: 100%;
        height: 100%;
    }

    .home-slide-img {
        @media (min-width: 768px) {
            height: 205.64px;
        }
        @media (min-width: 991px) {
            height: 274.48px;
        }
        @media (min-width: 1200px) {
            height: 326.16px;
        }
    }
}

.flash-sale-container {
    @include container-margin();

    .flash-sale-wrap {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        outline: solid 1px $default-sale-color;
        background-color: $default_bg_color;
        border-radius: 2px;
        overflow: hidden;

        .flash-sale-title {
            background-color: $default-sale-color;
            color: $default_bg_color;
            padding: 10px 20px;
        
            .title {
                font-size: $font_size_larger;
                font-weight: bold;
                margin: 0px 10px;
            }
                
            .view-all {
                margin-left: 25px;

                a {
                    color: $default_bg_color;
                    font-weight: 600;
                    font-size: $font_size_smaller;
            
                    img {
                        height: 12px;
                        transform: translateY(-1px) rotate(90deg);
                        margin-left: 10px;
                        filter: brightness(10);
                    }
                }
            }

            .count-down div {
                background-color: $default_link_color;
                color: $default_bg_color;
                font-weight: bold;
                font-size: $font_size_small;
                margin: 5px;
                padding: 0px 4px;
                border-radius: 2px;
            }
        } 
    }

    .flash-sale {
        padding: 15px 25px 12px;

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
            transform: rotate(180deg) translate(0, 50%);
        }

        .slick-prev:before, .slick-next:before {
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: $default_bg_color;
            border: 1px solid $default_border_color;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            border-radius: 50px;
            position: absolute;
        }
    }
}

.product-slide-container {
    @include container-margin();

    .product-slide-wrap {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: $default_bg_color;
        border-radius: 2px;

        .product-slide-title {
            background-color: $default-product-header-bg-color;
            color: $default_text_color;
            padding: 10px 20px;
        
            .title {
                font-size: $font_size_larger;
                font-weight: bold;
            }

            .filter {
                max-width: 50%;
                overflow-x: scroll;
                overflow-y: none;
                height: fit-content;
                border-radius: 50px;
                @include limitRowToDisplay(1);

                @media screen and (max-width: 480px) {
                    display: none;
                }

                a {
                    background-color: $default_bg_color;
                    text-decoration: none;
                    padding: 4px 10px;
                    font-size: $font_size_small;
                    color: $default_text_color;
                    border-radius: 100px;
                    margin-right: 10px;
                    display: inline-block;

                    &:hover {
                        background-color: $default_hover_color;
                        transition: ease-in-out 0.25s;
                        color: $default_bg_color;
                    }
                }
            }

            .view-all {
                @media (min-width: 991px) {
                    margin-left: 25px;
                }

                a {
                    color: $default_link_color;
                    font-weight: 600;
                    font-size: $font_size_smaller;
            
                    img {
                        height: 12px;
                        transform: translateY(-1px) rotate(90deg);
                        margin-left: 10px;
                    }
                }
            }
        } 
    }

    .product-slide {
        padding: 15px 25px 12px;

        .slick-prev {
            left: 15px;
        }

        .slick-next {
            right: 15px;
            transform: rotate(180deg) translate(0, 50%);
        }

        .slick-prev:before, .slick-next:before {
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: $default_bg_color;
            border: 1px solid $default_border_color;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            border-radius: 50px;
            position: absolute;
        }
    }
}

.customer-feedback-container {
    @include container-margin();

    .customer-feedback-wrap {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0px 20px 20px;
        background-color: $default_bg_color;
        border-radius: 2px;

        .customer-feedback-title {
            @include section-title();
        }

        .customer-feedback {
            position: relative;
            margin: 30px 0px;
            
            .info {
                background-color: $secondary-bg-color;
                border-radius: 10px 0px 0px 10px;
                padding: 20px;
                position: relative;
                top: 10px;
                width: 40%;
                height: fit-content;
                margin-bottom: 30px;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                .avatar {
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        margin-right: 20px;
                    }
                }

                .name {
                    color: $highlight_text_color;
                    font-size: $font_size_small;
                    font-weight: bold;
                }

                .caption {
                    color: $secondary_text_color;
                    font-size: $font_size_small;
                }

                .vote {
                    margin-top: 10px;

                    img {
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                    }
                }
            }

            .content {
                padding: 20px;
                border-radius: 6px;
                border: solid 1px #08348c;
                position: relative;
                width: 73%;
                position: relative;

                .background-quote {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: -1;
                }
            }
        }
    }
}

.video-thienthanh-container {
    @include container-margin();

    .video-thienthanh-wrap {
        @include section-wrap();

        .video-thienthanh-title {
            @include section-title();
        }
        .video-thienthanh {
            flex-wrap: wrap;
            .video {
                margin-bottom: 30px;

                iframe {
                    display: block;
                    max-width: 100%;
                    height: 100%;
                }
    
                .video-title {
                    font-size: $font_size_small;
                    font-weight: 600;
                    color: $default_text_color;
                }
            }

            .video-left {
                flex: 0 0 50%;

                .video-title {
                    padding: 0px 15px;
                }
            }

            .video-right {
                flex: 0 0 50%;
            }

            @media screen and (max-width: 768px) {
                
                .video-right, .video-left {
                    flex: 0 0 100%;
                }
            }
        }
    }
}

.customer-picture-container {
    @include container-margin();

    .customer-picture-wrap {
        text-align: center;
        @include section-wrap();

        .customer-picture-title {
            @include section-title();
        }

        .customer-picture {
            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 30px;
            }
        }
    }
}

.home-logos-container {
    .home-logos-wrap {

        .logo-item {
            background-color: $default-product-header-bg-color;
            padding: 10px;
            align-items: center;  
            border-radius: 6px;
            margin-bottom: 30px;

            img {
                width: 50px;
                margin-right: 20px;
                border-radius: 10px;
            }

            .label {
                font-size: $font_size_normal;
                color: $default_text_color;
                font-weight: bold;
            }
        }
    }
}