.news {
    .main {
        .news-head {
            color: #fb728b;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            margin-bottom: 10px;
        }
        .line {
            border-bottom: 2px solid #eee8e8;
            margin-top: 10px;
        }
         .news {
            a:hover {
                text-decoration: none;
                .description {
                    h6, p {
                        color: #e74c3c;
                        transition: 0.25s;
                    }
                }

            }

            .description {
                margin: 12px 0;

                img {
                    border-radius: 6px;
                    width: 162px;
                    height: 110px;
                    margin-right: 24px;
                }

                h6 {
                    font-size: 14px;
                    font-weight: 600;
                    color: #242424;
                }

                p {
                    font-size: 12px;
                    color: #242424;
                    font-weight: normal;
                    height: 53px;
                    line-height: 19px;
                    color: #242424;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                u {
                    font-size: 14px;
                    font-weight: 600;
                    font-style: italic;
                    color: #683e7a;
                }

            }

        }


        // .news-description{
        //     margin-top: 20px;
        //     font-size: 14px;
        //     line-height: 1.36;
        //     color: #707070;
        // }
    }
}
