.new-detail {
    .main {
        .new-detail-head {
            color: #fb728b;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            margin-bottom: 10px;

            @media only screen and(max-width:760px) {
                margin-top: 30px;
            }

        }

        .line {
            border-bottom: 2px solid #eee8e8;
            margin-top: 10px;
        }

        .new-detail-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.36;
            color: #242424;
            margin-top: 24px;
        }

        .new-detail-description {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.36;
            color: #707070;
        }

        .new-detail-img {
            width: 396px;
            height: 220px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .news-relate {
            color: #707070;

            a {
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
                color: #707070;
            }

            a:hover {
                color: #e74c3c;
                transition: 0.25s;
            }

            .news-relate-title {
                font-size: 18px;
                font-weight: 600;
                color: #242424;
                line-height: 1.33;
                margin-top: 60px;
                margin-bottom: 2%;
            }

            ul {
                padding-inline-start: 10px;
                margin-bottom: 100px;
                list-style: none;

                li:before {
                    content: "\f192";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-right: 10px;
                    width: 8px;
                    height: 8px;
                    color: #707070;
                }

            }

        }

    }

}
