.page-container {
    margin-top: 30px;
    margin-bottom: 30px;

    .page-wrap {

        .sidebar {
            width: 100%;
        }
        .main {
            width: 100%;

            .title {
                font-size: $font_size_small;
                font-weight: bold;
                color: $default_text_color;
                border-bottom: 1px solid $default_border_color;
                padding: 13px 40px;
                background-color: $default_bg_color;
    
            }
    
            .content {
                padding: 19px 40px 40px;
                font-size: $font_size_small;
                background-color: $default_bg_color;
                font-size: $font_size_small;
            }
        }

        @media screen and (min-width: 991px) {
            .sidebar {
                flex: 0 0 20%;
                max-width: 20%;
            }

            .main {
                flex: 80%;
                max-width: 80%;
            }
        }
    }
}