.registration {
    h3 {
        color: #fb728b;
        font-size: 16px;
        font-weight: 600;
        border-bottom: 2px solid #eee8e8;
        padding-bottom: 5px;
        margin: 0;
        text-transform: uppercase;
    }
    .btn-dk {
        background: #683e7a;
        color: #ffff;
        margin-right: 20px;
        padding: 5px 30px;
    }
    .btn-submit {
        color: #683e7a;
        border: 1px solid #683e7a;
        background: #fff;
    }
}