.row-padding-12px {
    margin-left: -6px;
    margin-right: -6px;
    flex-wrap: wrap;
    display: flex;
    
    .col-padding-12px {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.row-padding-16px {
    margin-left: -8px;
    margin-right: -8px;
    flex-wrap: wrap;
    display: flex;
    
    .col-padding-16px {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.row-padding-18px {
    margin-left: -9px;
    margin-right: -9px;
    flex-wrap: wrap;
    display: flex;

    .col-padding-18px {
        padding-left: 9px;
        padding-right: 9px;
    }
}

.row-padding-20px {
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    display: flex;
    
    .col-padding-20px {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.slick-arrow {
    z-index: 1;
}

.mt-60 {
    margin-top: 60px;
}
.my-24 {
    margin: 24px 0;
}

.slide-no-arrow {
    margin-right: -1px;
    margin-left: -1px;

    .slide-no-arrow-item {
        padding-left: 1px;
        padding-right: 1px;
    }
}

.dot-slide {
    margin-bottom: 18px !important;

    @media (min-width: 768px) {
        margin-bottom: -6px !important;
    }

    .slick-dots {
        bottom: 20px;

        li {
            margin: 0px;
        }

        li.slick-active button:before, li:hover button::before{
            color: $main_header_bg_color;
        }

        button:before {
            opacity: 1;
            color: $default_bg_color;
            width: 18px;
            height: 18px;
        }
    } 
}