.product-container {
    .product-wrap {
        display: flex;
        flex-wrap: wrap;

        .main, .sidebar {
            position: relative;
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .main {
            .order-by {
                font-size: $font_size_small;
                font-style: italic;
                color: $default_text_color;

                select {
                    font-size: $font_size_small;
                    color: $default_input_color;
                    border:none;
                }
            }
            .products {
                display: flex;
                flex-wrap: wrap;
                margin-left: -6px;
                margin-right: -6px;

                .list-product {
                    padding: 0px 6px 12px;
                    flex: 0 0 100%;
                    position: relative;
                    width: 100%;
                }

                @media (min-width: 330px) {
                    .list-product {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
                
                @media (min-width: 768px) {
                    .list-product {
                        flex: 0 0 33.3333333%;
                        max-width: 33.3333333%;
                    }
                }
                
                @media (min-width: 992px) {
                    .list-product {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                }
            }
        }

        @media (min-width: 992px) {
            .sidebar {
                flex: 0 0 20%;
                max-width: 80%;
            }

            .main {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
    }
}