.sidebar {
    padding-right: 12px;

    .title {
        font-size: $font_size_small;
        font-weight: bold;
        color: $default_text_color;
        background-color: $default_bg_color;
        padding: 11.5px 16px;
        margin-bottom: 12px;
    }

    .filter {
        color: $default_bottom_link_color;
        font-size: $font_size_small;
        background-color: $default_bg_color;
        padding: 10px 14px;
        margin-bottom: 30px;

        .form-check {
            margin-bottom: 10px;

            &:hover {
                color: $default_link_color;
            }
        }
    }
}