#type-hint-list {
    
    position: absolute;
    background: white;
    z-index: 1;
    width: 100%;
    max-height: 0px;
    overflow-y: scroll;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 16%);  
    border-radius: 6px;
    opacity: 0;
    transition: 0.25s ease-in-out;
    top: 62px;
    right: 15px;

    @media (min-width: 991px) {
        width: 132%;
    }

    @media (min-width: 576px) {
        right: unset;

        &.show {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &.show {
        max-height: 420px;
        opacity: 1;

    }

        
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ccc;
        margin: 10px 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $default_bottom_link_color;
    }

    .list-product {
        .item-wrap {
            min-height: 90px;
            padding: 5px 20px;

            @media (min-width: 576px) {
                padding: 10px 40px;
            }
            &:hover {
                background-color: $bg_color;
                transition: 0.25s ease-in-out;
                border-color: transparent;
            }
            .thumbnail {
                height: fit-content;
                float: left;
                margin-right: 20px;

                @media (min-width: 576px) {
                    margin-right: 60px;
                }

                img {
                    height: 70px;
                }

                .sale-tag {
                    display: none;
                }
            }

            .vote {
                display: none !important;
            }

            .name {
                margin-top: 0px;
                font-weight: normal;
                color: $highlight_text_color
            }

            .price {
                justify-content: start !important;
                margin-bottom: 0px;
                .discount {
                    margin-right: 20px;
                    font-size: $font_size_small;
                }

                .origin-price {
                    top: 0px;

                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }
        }
        
    }
}